fastapi[standard]
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# PostgreSQL database
psycopg2-binary  # sync
asyncpg  # async

# MySQL database
pymysql # sync
aiomysql  # async

